@keyframes gonder { 
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
    }
    
    #gonderGitsin{
        animation-name: gonder; 
        animation-duration: 1s;
        animation-timing-function:ease;
    }

    #gonderGelsin {
      animation-name: gonder; 
      animation-duration: 1s;
      animation-timing-function:ease;
    }
    .text{
      font-size: 40px;
    }
    .icon{
      font-size: 250px;
    }

    .aciklama{
      font-size: 30px;
      font-weight: 700px;
    }
    .divBalon{
      height: 300px;
      width: 300px;
      border-radius: 150px;
    }
    .Bmi{
      text-align: center;
      font-size: 17px;
      font-weight: 700px;
    }
    .Kg{
      text-align: center;
      font-size: 35;
      font-weight: 800px;
    }

    @media only screen and (max-width: 800px) {
      .text{
        font-size: 30px;
      }
      .icon{
        font-size:200px;
      }
      .pB{
        margin-bottom: 50px;
      }
    }

    @media only screen and (max-width: 490px) {
      .Kg{
        text-align: center;
        font-size: 20px;
        font-weight: 800px;
      }
      .Bmi{
        text-align: center;
        font-size: 17px;
        font-weight: 700px;
      }
      .aciklama{
        font-size: 20px;
        font-weight: 500px;
      }
      .text{
        font-size: 19px;
      }
      .icon{
        font-size:200px;
      }
      .pB{
        margin-bottom: 50px;
      }
      .divBalon{
        height: 200px;
        width: 200px;
        border-radius: 100px;
      }
    }